<!--<div id="plans-read" class="compact page-layout blank" layout="row" ng-if="!editOff">-->
<!--<div class="plans-read-container" flex>-->
<!--&lt;!&ndash; READ PLAN &ndash;&gt;-->
<!--<div layout="column" layout-align="start start">-->
<!--<div class="group-sub-head" style="margin-top: 0"><b>Plan Info</b></div>-->
<!--<md-content ms-scroll layout="column" class="inpage-readpane-body" ng-if="!inpageReadPaneEdit">-->
<!--<div layout="row" layout-align="start center" style="height: 50px;">-->
<!--<div layout="row" layout-align="start center" flex class="state-capsule">-->
<!--<div layout="row">-->
<!--<span>Current plan</span>-->
<!--<span>{{content.plan_name}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div layout="row" class="inpage-readpane">-->
<!--<div flex="50" class="inpage-readpane-body">-->
<!--<div layout="row" layout-align="start center" class="detail-row">-->
<!--<span><b>Plan type</b></span>-->
<!--<span>: {{content.plan_type}}</span>-->
<!--</div>-->
<!--<div layout="row" layout-align="start center" class="detail-row">-->
<!--<span><b>Plan code</b></span>-->
<!--<span>: {{content.code}}</span>-->
<!--</div>-->
<!--<div layout="row" layout-align="start start" class="detail-row">-->
<!--<span><b>Description</b></span>-->
<!--<span flex>: {{content.description}}</span>-->
<!--</div>-->
<!--<div layout="row" layout-align="start center" class="detail-row">-->
<!--<span><b>Last changed date</b></span>-->
<!--<span>: {{content.expire_date || limitTo(10)}}</span>-->
<!--</div>-->
<!--<div layout="row" layout-align="start center" class="detail-row">-->
<!--<span><b>Expire Date</b></span>-->
<!--<span>: {{content.expire_date || limitTo(10)}}</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="plan-portion" flex="50" layout="row" layout-align="center center">-->
<!--<div layout="row" style="width: 330px">-->
<!--<md-card layout-align="center center" class="{{plan.id}} plan-card" style="width: 100%">-->
<!--<md-card-title flex layout="column">-->
<!--<md-card-title-text>-->
<!--<h3>{{content.plan_name}}</h3>-->
<!--</md-card-title-text>-->
<!--</md-card-title>-->
<!--<div class="plan-name" layout="row" layout-align="center center" flex>-->
<!--<div ng-if="plan.price != '0'">{{content.unit_price}}-->
<!--<span >/ {{content.frequency}}</span>-->
<!--</div>-->
<!--</div>-->

<!--<md-card-content flex style="background: #ffffff;">-->
<!--<div layout="row" layout-align="space-between center" class="usernapps-wrap">-->
<!--<p class="user-n-apps"><md-icon md-font-icon="icon-account-multiple" style="font-size: 20px"></md-icon> Feature</p>-->
<!--<p class="user-n-apps"><md-icon md-font-icon="icon-file-multiple" style="font-size: 17px"></md-icon>Feature</p>-->
<!--</div>-->

<!--<md-divider></md-divider>-->

<!--<div layout="column" layout-align="center center" class="features-wrap">-->
<!--<span class="features">Feature</span>-->
<!--<span class="features">Feature</span>-->
<!--<span class="features">Feature</span>-->
<!--<span class="features">Feature</span>-->
<!--<span class="features">Feature</span>-->
<!--</div>-->

<!--<div ng-init="showAdditional = false" layout-padding ng-show="showAdditional" style="color: rgb(103, 97, 97);">-->
<!--<b>Additional Storage:</b>-->
<!--<p>+ 25 GB/Month: 4.99</p>-->
<!--<p>+ 100 GB/Month: 9.99</p>-->
<!--<p>+ 1 TB/Month: 24.99</p>-->
<!--</div>-->
<!--</md-card-content>-->
<!--</md-card>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</md-content>-->
<!--</div>-->
<!--&lt;!&ndash; / READ PLAN &ndash;&gt;-->

<!--&lt;!&ndash; Use the following element to add breaks to your pages &ndash;&gt;-->
<!--&lt;!&ndash; This will make sure that the section after this element will be printed on a new page &ndash;&gt;-->
<!--<div class="page-break"></div>-->

<!--</div>-->
<!--</div>-->

<!-- CONTENT CARD -->
<div layout="row" flex>
    <!-- CONTENT WRAPPER -->
    <md-content flex id="createPlanContent" layout="column"  ms-scroll>
        <form id="changePlanForm" name="vm.changePlanForm" ng-submit="submitPlan('changePlanForm')" novalidate>
            <!--CREATE NEW INVOICE _ CARDED=================================================-->
            <md-card flex class="input-block-gen">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
                    </div>
                </md-card-title>
                <md-card-content>
                    <div class="mb-20"><span>Plan type : </span><span class="pill partial ph-10">{{content.type}}</span></div>
                    <!--<div layout="row" layout-align="center center" ng-hide="true">-->
                    <!--<md-input-container>-->
                    <!--<md-radio-group name="planType" ng-required ng-model="content.type" layout="row" class="cc-switch-buttons-group">-->
                    <!--<md-radio-button value="Base-Plan" class="cc-switch-buttons" md-ink-ripple ng-disabled="content.type == 'Base-Plan'" ng-style="content.type == 'Add-on' ? {'z-index':'1'} : {'z-index':'0'}">Base-plan</md-radio-button>-->
                    <!--<md-radio-button value="Add-on" class="cc-switch-buttons" md-ink-ripple ng-disabled="content.type == 'Add-on'" ng-style="content.type == 'Base-Plan' ? {'z-index':'1'} : {'z-index':'0'}">Add-on</md-radio-button>-->
                    <!--</md-radio-group>-->
                    <!--</md-input-container>-->
                    <!--</div>-->
                    <div layout="row">
                        <!--<md-input-container flex="30">-->
                        <!--<label>Plan type</label>-->
                        <!--&lt;!&ndash;<md-select flex ng-required="true" ng-model="content.type">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-option value="Services" ng-selected="true">Services</md-option>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-option ng-repeat="type in planTypeList" ng-value="type.RecordFieldData">{{type.RecordFieldData}}</md-option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-select>&ndash;&gt;-->
                        <!--<md-select ng-required="true" flex ng-model="content.type">-->
                        <!--<md-option value="Add-on">Add-on</md-option>-->
                        <!--<md-option value="Base-Plan">Base-Plan</md-option>-->
                        <!--</md-select>-->
                        <!--</md-input-container>-->
                        <!--<div flex="5"></div>-->
                        <md-input-container flex="30">
                            <label>Plan name</label>
                            <input type="text" ng-required="true" min="" name="planName" maxlength="30" ng-model="content.name">
                            <div ng-messages="vm.changePlanForm.planName.$error">
                                <div ng-message="maxlength">Plan name must be between 1-30 characters</div>
                            </div>
                        </md-input-container>
                        <div flex="5"></div>
                        <md-input-container flex="30">
                            <label>Plan code</label>
                            <input type="text" ng-required="true" maxlength="15" name="planCode" ng-model="content.code">
                            <div ng-messages="vm.changePlanForm.planCode.$error">
                                <div ng-message="maxlength">Plan code must be between 1-15 characters</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Description</label>
                            <input type="text" ng-required="false" maxlength="300" md-maxlength="300" name="planDescription" ng-model="content.description">
                            <div ng-messages="vm.changePlanForm.planDescription.$error">
                                <div ng-message="maxlength">Plan description must be between 1-300 characters</div>
                            </div>
                        </md-input-container>
                    </div>

                </md-card-content>
            </md-card>

            <md-card flex class="input-block-gen">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Billing details</h3>
                    </div>
                </md-card-title>
                <md-card-content>
                    <div class="group-sub-head" style="margin-top: 0"><b>Billing frequency</b></div>
                    <div layout="row" class="row-offset">
                        <div flex="5" layout="column" id="billingFrqCurrency" layout-align="center start">
                            {{0| isoCurrency: BaseCurrency:0}}
                        </div>
                        <md-input-container ng-hide="true" flex>
                            <input type="text" min="" max="" name="currency" ng-init="content.currency=BaseCurrency" ng-model="content.currency">
                        </md-input-container>
                        <!--<md-input-container flex="10">-->
                        <!--<label>Currency</label>-->
                        <!--<input type="text" ng-required="false" min="1" maxlength="300" name="currency" ng-init="content.currency=BaseCurrency | isoCurrency: vm.editSelectedPlan.currency:0" ng-model="content.currency" ng-disabled="true">-->
                        <!--&lt;!&ndash;<md-select ng-required="true" flex ng-model="content.currency">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-option ng-value="BaseCurrency" selected>{{BaseCurrency}}</md-option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-option ng-repeat="curr in prefferedCurrencies" ng-value="curr">{{curr}}</md-option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-select>&ndash;&gt;-->
                        <!--</md-input-container>-->
                        <!--<div class="w-20"></div>-->

                        <div layout="column" flex="30">
                            <md-input-container flex>
                                <label>Unit price</label>
                                <input type="number" ng-required="!content.default_price || !content.add_pricingScheme" min="0" max="100000000000000000" name="unitPrice" ng-disabled="content.default_price && content.add_pricingScheme" ng-model="content.unitPrice" style="text-align: right">
                                <div ng-messages="vm.changePlanForm.unitPrice.$error">
                                    <div ng-message="max">Unit price must be between 1-18 digits</div>
                                    <div ng-message="min">Unit price must be between 1-18 digits</div>
                                </div>
                            </md-input-container>
                            <!--<md-checkbox ng-disabled="!content.add_pricingScheme" ng-model="content.default_price" ng-change="changeDefaultPrice(features,content.unitPrice,content.default_price,content.add_pricingScheme,'add')" aria-label="Default UnitPrice" class="md-primary dep-checkbox" ng-class="{'black-text':content.default_price}">Get default price</md-checkbox><span class="fs-12" ng-if="!content.add_pricingScheme"> (Add pricing scheme to set a default price)</span>-->
                        </div>

                        <div flex="5"></div>
                        <md-input-container flex="30">
                            <label>Occurrence</label>
                            <input ng-required="true" type="number" min="1" max="100000000000000000" name="frequency" ng-model="content.billingInterval" ng-init="content.billingInterval" style="text-align: right">
                            <div ng-messages="vm.changePlanForm.frequency.$error">
                                <div ng-message="max">Occurrence must be between 1-18 digits</div>
                                <div ng-message="min">Occurrence must be between 1-18 digits</div>
                            </div>
                        </md-input-container>
                        <div class="w-20"></div>
                        <md-input-container flex="15">
                            <md-select ng-required="true" flex ng-model="content.billEvery">
                                <md-option value="Months" selected>Months</md-option>
                                <md-option value="Years">Years</md-option>
                                <md-option value="Days">Days</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <div flex="30" layout="row">
                            <md-input-container flex>
                                <label>Trial</label>
                                <input ng-required="false" type="number" name="trialDays" min="0" ng-init="content.trailDays=30" ng-model="content.trailDays" class="text-right" max="100000000000000000">
                                <div ng-messages="vm.changePlanForm.trialDays.$error">
                                    <div ng-message="max">Trial days must be between 1-18 digits</div>
                                    <div ng-message="min">Trial days must be between 1-18 digits</div>
                                </div>
                            </md-input-container>
                            <div layout="row" layout-align="start center">days</div>
                        </div>
                    </div>

                    <!--<div layout="column" layout-align="center center" class="p-10" style="border:solid 1px #ddd">-->
                    <!--<div ng-if="content.billEvery == 'Months'" layout="row" layout-align="start center">-->
                    <!--<div>(<b>{{content.unitPrice | isoCurrency:content.currency}}</b> invoice will generate once every <b>{{content.billingInterval}} month<span ng-if="content.billingInterval>1">s</span></b>)</div>-->
                    <!--</div>-->
                    <!--<div ng-if="content.billEvery == 'Years'" layout="row" layout-align="start center">-->
                    <!--<div>(<b>{{content.unitPrice | isoCurrency:content.currency}}</b> invoice will generate once every <b>{{content.billingInterval}} year<span ng-if="content.billingInterval>1">s</span></b>)</div>-->
                    <!--</div>-->
                    <!--<div ng-if="content.billEvery == 'Days'" layout="row" layout-align="start center">-->
                    <!--<div>(<b>{{content.unitPrice | isoCurrency:content.currency}}</b> invoice will generate once every <b>{{content.billingInterval}} day<span ng-if="content.billingInterval>1">s</span></b>)</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="mt-50">
                        <div class="group-sub-head"><b>Billing cycles</b></div>
                        <div layout="row" layout-align="start center">
                            <md-input-container flex>
                                <md-radio-group ng-model="content.billingCycleType" ng-init="content.billingCycleType='auto'" ng-change="vm.billingCycleHandler(content.billingCycleType)">
                                    <md-radio-button value="auto" class="md-primary">Auto renewed until cancelled</md-radio-button>
                                    <div layout="row" layout-align="start center">
                                        <md-radio-button value="fixed" class="md-primary">Fixed number billing cycles</md-radio-button>
                                        <div flex="5"></div>
                                        <md-input-container class="m-0" ng-if="showNoOfCycles" flex="35">
                                            <label>Number of billing cycles</label>
                                            <input ng-required="true" type="number" min="2" name="no_of_cycles" ng-model="content.billingCycle" style="text-align: right">
                                        </md-input-container>
                                    </div>
                                </md-radio-group>
                            </md-input-container>
                            <!--<div flex="5"></div>-->
                            <!--<div layout="row" style="margin-top: -20px" ng-if="showNoOfCycles" flex="30">-->
                                <!--<md-input-container flex>-->
                                    <!--<label>Number of billing cycles</label>-->
                                    <!--<input ng-required="true" type="number" min="1" name="no_of_cycles" ng-model="content.billingCycle" style="text-align: right">-->
                                <!--</md-input-container>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div layout="row" style="margin-bottom: 10px">
                        <!--<div flex="5"></div>-->
                        <div flex="30">
                            <md-input-container class="md-block">
                                <label>Payment collection method</label>
                                <!--<input type="text" ng-required="true" min="1" ng-model="row.unitUom">-->
                                <md-select ng-required="true" flex ng-model="content.paymentOption">
                                    <md-option value="Online" selected>Online</md-option>
                                    <md-option value="Offline">Offline</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="5"></div>
                        <div layout="row" flex="30">
                            <div layout="column" flex>
                                <md-input-container>
                                    <label>Tax</label>
                                    <md-select ng-required="content.apply_tax" ng-model="content.taxID" ng-disabled="!content.apply_tax">
                                        <md-option ng-repeat="value in taxGroup" value="{{value.taxgroupid}}">
                                            {{value.taxgroupcode}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-checkbox ng-model="content.apply_tax" aria-label="Apply Tax" class="md-primary dep-checkbox" style="top:0;width: 100px;">Apply Tax</md-checkbox>
                            </div>
                        </div>
						<div flex="5" ng-if="vm.usingAvalaraTax"></div>
                        <div layout="row" flex="30" ng-if="vm.usingAvalaraTax">
                            <div layout="column" flex>
								<md-input-container>
									<label>Avalara tax code</label>
									<input ng-required="false" type="text" min="" name="avalaraTaxCode" ng-model="content.avaTaxCode">
								</md-input-container>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <!--<md-card flex class="input-block-gen" ng-if="content.type=='Add-on'">-->
                <!--&lt;!&ndash;<md-card-content layout="row" ng-if="!content.allBasePlansSelected">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-card flex class="input-block-gen" layout="column">&ndash;&gt;-->
                <!--&lt;!&ndash;<div flex class="inpage-listpane">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-card-title>&ndash;&gt;-->
                <!--&lt;!&ndash;<div layout="row" layout-align="start center">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-icon md-font-icon="icon-account-multiple"></md-icon> <h3>Base Plan List</h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-card-title>&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="search" flex layout="row" layout-align="start center">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;<input flex ng-model="vm.searchBasePlans" type="text" placeholder="Search for Base Plans">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="subheaded-list-content" flex>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-content ms-scroll>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-progress-circular md-mode='indeterminate' md-diameter="150" class="progress-circle-loader" ng-show="loading"></md-progress-circular>&ndash;&gt;&ndash;&gt;-->

                <!--&lt;!&ndash;&lt;!&ndash;<div id="draggblePlan" class="not-shared-user" draggable-data="s" draggable="true" effect-allowed="copy" draggable-type="custom-object" ng-repeat="s in basePlanList | filter : vm.searchBasePlans">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div layout="row" layout-align="space-between center">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div layout="row" layout-align="start center">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-account"></md-icon>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<img ng-src="{{getCatLetter(s.name)}}" class="md-avatar"/>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>{{s.name}}</p>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-cursor-move"></md-icon>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="carded-list-group" style="padding: 0;">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-list flex class="carded-dashboard-list">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-list-item layout="row" ng-repeat="s in basePlanList | filter : vm.searchBasePlans" ng-click="null">&ndash;&gt;-->
                <!--&lt;!&ndash;<span flex>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-checkbox ng-model="s.isSelected" aria-label="Event" class="md-primary">{{s.name}}</md-checkbox>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-list>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;</md-content>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</md-card>&ndash;&gt;-->

                <!--&lt;!&ndash;&lt;!&ndash;<div flex layout="column" layout-align="start center" style="padding-right: 20px">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div layout="column" layout-align="center center" class="shared-app">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div layout="row" layout-align="center center">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<h3>Selected Base Plans</h3>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div drop="onDropOne($data, $event)" drop-effect="copy" drop-accept="'json/custom-object'" drag-over="onDragOver($event)" drag-over-class="drag-over-accept" flex class="drag-n-drop-area">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div ng-show="selectedBasePlans.length<1" class="watermark" layout="column" layout-align="center center">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-account-multiple"></md-icon>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<span>Drop BasePlan Here</span>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-card class="shared-user" ng-repeat="plan in selectedBasePlans">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div layout="row" layout-align="space-between center">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-account"></md-icon>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<p>{{plan.name}}</p>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-button class="md-icon-button" ng-click="deleteSelectedBasePlan($event,plan)" aria-label="delete">&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-close-circle md-warn"></md-icon>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</md-button>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</md-card>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
                <!--<md-card-title>-->
                    <!--<div layout="row" layout-align="start center">-->
                        <!--<i class="material-icons">extension</i> <h3>Add-on configuration</h3>-->
                    <!--</div>-->
                <!--</md-card-title>-->
                <!--<md-card-content layout="column">-->
                    <!--<div class="group-sub-head mt-0"><b>Current add-ons</b></div>-->
                    <!--<div class="b b-dark" style="overflow: hidden;">-->
                        <!--<div md-whiteframe="1dp" class="pos-rel" style="z-index: 1;">-->
                            <!--<div class="search" flex layout-align="start center">-->
                                <!--<div layout="row" class="p-10">-->
                                    <!--<md-icon md-font-icon="icon-magnify" class="icon s20 mr-15"></md-icon>-->
                                    <!--<input flex ng-model="vm.searchBasePlans" type="text" placeholder="Search for base plans">-->
                                <!--</div>-->
                                <!--<md-divider></md-divider>-->
                            <!--</div>-->
                            <!--<div class="p-10 light-gray">-->
                                <!--<md-checkbox ng-model="content.allBasePlansSelected" aria-label="Event" class="md-primary m-0">Select all base plans</md-checkbox>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="msg-empty-list" ng-if="basePlanList.length == 0">-->
                                    <!--<span>-->
                                        <!--<md-icon md-font-icon="icon-information-outline"></md-icon> No add-on is created yet-->
                                    <!--</span>-->
                        <!--</div>-->
                        <!--<div ng-if="!content.allBasePlansSelected" class="subheaded-list-content" flex>-->
                            <!--<md-content ms-scroll>-->
                                <!--&lt;!&ndash;<md-progress-circular md-mode='indeterminate' md-diameter="150" class="progress-circle-loader" ng-show="loading"></md-progress-circular>&ndash;&gt;-->

                                <!--&lt;!&ndash;<div id="draggblePlan" class="not-shared-user" draggable-data="s" draggable="true" effect-allowed="copy" draggable-type="custom-object" ng-repeat="s in basePlanList">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div layout="row" layout-align="space-between center">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div layout="row" layout-align="start center">&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-font-icon="icon-account"></md-icon>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<img ng-src="{{getCatLetter(s.name)}}" class="md-avatar"/>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p>{{s.name}}</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<md-icon md-font-icon="icon-cursor-move"></md-icon>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="p-10" layout="row" ng-repeat="s in basePlanList | filter : vm.searchBasePlans | filter : content.billEvery" ng-click="null">-->
                                        <!--<span flex>-->
                                          <!--<md-checkbox ng-model="s.isSelected" aria-label="Event" class="m-0 md-primary">{{s.name}}</md-checkbox>-->
                                        <!--</span>-->
                                <!--</div>-->
                            <!--</md-content>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</md-card-content>-->
            <!--</md-card>-->

            <md-card flex class="input-block-gen mt-50">
                <md-card-content class="p-0" layout="row">
                    <div class="mr-20">
                        <md-checkbox ng-change="updateScroll('create')" layout="row" ng-model="content.add_pricingScheme" aria-label="Pricing Scheme" class="m-0 md-accent chkbox-btn"> <h3 class="m-0">Features</h3></md-checkbox>
                    </div>
                    <div ng-if="content.type=='Base-Plan'">
                        <md-checkbox ng-change="updateScroll('create')" layout="row" ng-model="content.add_addons" aria-label="Add-ons" class="m-0 md-accent chkbox-btn"> <h3 class="m-0">Add-ons</h3></md-checkbox>
                    </div>
                    <!--<md-icon ng-class="content.add_pricingScheme ? 'icon-chevron-up' : 'icon-chevron-down'"></md-icon>-->
                </md-card-content>
            </md-card>
            <md-card flex class="input-block-gen animate-fade-in-out" ng-show="content.add_pricingScheme">
                <md-card-title>
                    <div layout="row" layout-align="space-between center" flex>
                        <div layout="row"><i class="material-icons">stars</i> <h3>Features</h3></div>
                        <!-- <md-button class="md-raised add-item-main" layout="row" layout-align="start center" ng-click="openFeatureDialog('Add', '')"><md-icon md-font-icon="icon-plus"></md-icon> ADD</md-button> -->
                    </div>
                </md-card-title>
                <div layout="row" layout-align="center center" class="pos-rel">
                    <div class="msg-inform-iconed">
                        <span><md-icon md-font-icon="icon-information-outline"></md-icon> Select features for the plan</span>
                    </div>
                </div>
                <div class="list-header" layout="row">
                    <div flex layout-align="center start">Feature name</div>
                    <div flex="10" layout="row" layout-align="end center">Actions</div>
                </div>
                <md-card-content style="padding: 0">
                    <div class="preloader h-50" ng-if="loadingPriceSchemeFeatures">
                        <md-progress-circular></md-progress-circular>
                    </div>
                    <div layout="row" layout-align="center center" class="msg-empty-list" ng-hide="true">
                        <span><md-icon md-font-icon="icon-information-outline"></md-icon> No feature has been added yet</span>
                    </div>
                    <div class="mb-30">
                        <div class="action-row" layout="row" ng-repeat="item in priceSchemeFeatureList" layout-align="start center">
                                    <span flex layout="row" layout-align="start center">
                                        <span>
                                            <md-checkbox ng-model="item.isSelected" class="m-0 mr-20 md-primary" ng-change="attachFeature()">{{item[0].feature}} ({{item[0].featureCode}})</md-checkbox><md-button class="md-icon-button op-5"><md-icon md-font-icon="icon-information" class="fs-16"></md-icon></md-button>
                                        </span>
                                    </span>
                            <!-- <span flex="10" style="max-width: 150px" layout="row" layout-align="end center">
                                        <md-button class="md-icon-button" aria-label="Edit" ng-click="openFeatureDialog('Update', item)">
                                            <md-icon md-font-icon="icon-pencil"></md-icon>
                                            <md-tooltip>Edit</md-tooltip>
                                          </md-button>
                                          <md-button class="md-icon-button md-warn action-row-remove" aria-label="Delete" ng-click="showDeleteFeatureConfirm($event,item)" show-gt-sm>
                                            <md-icon md-font-icon="icon-close-circle"></md-icon>
                                            <md-tooltip>Delete</md-tooltip>
                                        </md-button>
                                    </span> -->
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex class="input-block-gen animate-fade-in-out" ng-if="content.type=='Base-Plan' && content.add_addons">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <i class="material-icons">extension</i> <h3>Add-on configuration</h3>
                    </div>
                </md-card-title>
                <md-card-content layout="column" class="p-0">
                    <!--<div class="group-sub-head mt-0"><b>Current add-ons</b></div>-->
                    <div class="search" flex layout-align="start center">
                        <div layout="row">
                            <md-icon md-font-icon="icon-magnify" class="icon s20 m-10"></md-icon>
                            <input flex ng-model="vm.searchAddonPlans" type="text" class="p-10" placeholder="Search for add-ons">
                        </div>
                    </div>
                    <md-divider class="op-5"></md-divider>
                    <div class="pos-rel" style="z-index: 1;">
                        <div class="p-10">
                            <md-checkbox ng-model="content.allAddonPlansSelected" ng-disabled="addonPlanList.length == 0" aria-label="Event" class="md-primary m-0">Select all add-ons</md-checkbox>
                        </div>
                    </div>
                    <div class="msg-empty-list" ng-if="addonPlanList.length == 0">
                        <span>
                            <md-icon md-font-icon="icon-information-outline"></md-icon> No base-plan is created yet
                        </span>
                    </div>
                    <div ng-if="!content.allAddonPlansSelected" class="subheaded-list-content" flex>
                        <md-content ms-scroll>
                            <div class="p-10" layout="row" ng-repeat="s in addonPlanList | filter : vm.searchAddonPlans | filter : content.billEvery" ng-click="null">
                                <span flex>
                                  <md-checkbox ng-model="s.isSelected" aria-label="Event" class="m-0 md-primary">{{s.name}}</md-checkbox>
                                </span>
                            </div>
                        </md-content>
                    </div>
                </md-card-content>
            </md-card>
            <!--Pricing scheme block-->
            <!--<md-card flex class="input-block-gen">-->
            <!--<md-card-title>-->
            <!--<div layout="row" layout-align="space-between center" flex>-->
            <!--&lt;!&ndash;<md-checkbox ng-model="content.add_pricingScheme" aria-label="Pricing Scheme" class="md-primary dep-checkbox" style="top:10px;"></md-checkbox>&ndash;&gt;-->
            <!--<div layout="row" flex>-->
            <!--<md-checkbox layout="row" flex ng-model="content.add_pricingScheme" ng-change="calcUnitPrice(features,content.unitPrice,content.default_price,content.add_pricingScheme,'add')" aria-label="Pricing Scheme" class="m-0 md-accent dep-checkbox"> <h3>Add pricing scheme</h3></md-checkbox>-->
            <!--</div>-->
            <!--<md-icon ng-class="content.add_pricingScheme ? 'icon-chevron-up' : 'icon-chevron-down'"></md-icon>-->
            <!--</div>-->
            <!--</md-card-title>-->
            <!--<md-card-content ng-if="content.add_pricingScheme==true">-->
            <!--&lt;!&ndash;<div layout="row" layout-align="start center">&ndash;&gt;-->
            <!--&lt;!&ndash;<md-checkbox ng-model="vm.editSelectedPlan.default_price" ng-change="changeDefaultPrice(vm.editSelectedPlan.priceScheme,vm.editSelectedPlan.unitPrice,vm.editSelectedPlan.default_price,vm.editSelectedPlan.add_pricingScheme,'update')" aria-label="Default UnitPrice" class="md-primary dep-checkbox" ng-class="{'black-text':vm.editSelectedPlan.default_price}">Get default price</md-checkbox><span class="fs-12" ng-if="!vm.editSelectedPlan.add_pricingScheme"> (Add pricing scheme to set a default price)</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<div class="group-sub-head mt-0"><b>Features</b></div>-->

            <!--<div>-->
            <!--<div layout="row" layout-align="start center" ng-repeat="row in features" class="highlight-blue solid h-auto" >-->
            <!--<div layout="column" flex class="v-rule-blue">-->
            <!--<div layout="row" class="h-80">-->
            <!--<div flex="30">-->
            <!--<md-input-container class="md-block" id="invProdQty">-->
            <!--<label>Feature</label>-->
            <!--<input type="text" ng-required="true" min="1" ng-model="row.feature">-->
            <!--</md-input-container>-->
            <!--</div>-->

            <!--<div flex="5"></div>-->

            <!--<div flex="30">-->
            <!--<md-input-container class="md-block" id="invProdQty8">-->
            <!--<label>Feature code</label>-->
            <!--<input type="text" ng-required="true" min="1" ng-model="row.featureCode">-->
            <!--</md-input-container>-->
            <!--</div>-->

            <!--<div flex="5"></div>-->

            <!--<div flex="20" layout="row" layout-align="start center">-->
            <!--<md-button layout="row" layout-align="start center" ng-if="!row.showAdvanceFeatures" ng-click="setAdvanceFeatures(row);" class="md-accent fs-14">-->
            <!--<md-icon md-font-icon="icon-plus-circle" class="md-primary fs-18 mr-5" ng-class=""></md-icon>-->
            <!--Add rating-->
            <!--</md-button>-->
            <!--</div>-->

            <!--<div id="stop-subscription" layout="column" ng-if="row.showAdvanceFeatures" ng-hide="row.advancedFeaturesConfirmed" class="w-480 animate-slide-down" md-whiteframe="4dp" style="top: -60px;">-->
            <!--<div class="header-bar text-right" layout="row" layout-align="space-between center">-->
            <!--<h3>Rating</h3>-->
            <!--<md-button class="md-icon-button" ng-click="closeAdvanceFeatures(row)"><md-icon md-font-icon="icon-close"></md-icon> </md-button>-->
            <!--</div>-->
            <!--<div class="p-20">-->
            <!--<div>-->
            <!--<div layout="row" layout-align="space-between center">-->
            <!--<div layout="column" layout-align="start start">-->
            <!--<div layout="row" layout-align="start center" class="title">-->
            <!--<md-icon md-font-icon="icon-book"></md-icon> <span flex>Fixed</span>-->
            <!--</div>-->
            <!--<div class="mt-10">Fixed rating will be added</div>-->
            <!--</div>-->
            <!--<md-button class="md-accent md-raised" ng-click="setFeature(row, 'FIXED')">Choose this</md-button>-->
            <!--</div>-->
            <!--</div>-->
            <!--<md-divider class="mv-20"></md-divider>-->
            <!--<div>-->
            <!--<div layout="row" layout-align="space-between center">-->
            <!--<div layout="column" layout-align="start start">-->
            <!--<div layout="row" layout-align="start center" class="title">-->
            <!--<md-icon md-font-icon="icon-book-multiple"></md-icon> <span flex>Slab</span>-->
            <!--</div>-->
            <!--<div class="mt-10">Slab ratings will be added</div>-->
            <!--</div>-->
            <!--<md-button class="md-accent md-raised" ng-click="setFeature(row, 'SLAB')">Choose this</md-button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div ng-show="row.advancedFeaturesConfirmed">-->
            <!--<div flex layout="row" layout-align="space-between center">-->
            <!--&lt;!&ndash;<div flex ng-hide="row.showAdvanceFeatures"></div>&ndash;&gt;-->
            <!--<md-input-container class="animate-fade-in-out" ng-show="row.showAdvanceFeatures" flex="30">-->
            <!--<label>Type</label>-->
            <!--&lt;!&ndash;<input type="text" ng-required="true" min="1" ng-model="row.unitUom">&ndash;&gt;-->
            <!--<md-select ng-required="true" id="createFeatureType" flex ng-model="row.type" ng-init="row.type=''">-->
            <!--&lt;!&ndash;<md-option value="optional" selected>&#45;&#45;Select Type&#45;&#45;</md-option>&ndash;&gt;-->
            <!--<md-option value="optional" ng-hide="true" selected>optional</md-option>-->
            <!--<md-option value="FIXED">FIXED</md-option>-->
            <!--<md-option value="SLAB">SLAB</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
            <!--<md-button layout="row" layout-align="start center" ng-if="row.showAdvanceFeatures" ng-click="closeAdvanceFeatures(row);" class="md-primary fs-12"> <md-icon md-font-icon="icon-close" class="md-primary fs-16" ng-class=""></md-icon> Close rating</md-button>-->
            <!--</div>-->
            <!--<div class="highlight-white solid p-5" layout="row" ng-if="row.type=='FIXED' && row.showAdvanceFeatures">-->
            <!--<div layout-align-md="start center" layout-md="column" flex="30">-->
            <!--<div flex>-->
            <!--<md-input-container class="md-block" id="invProdQty2">-->
            <!--<label>Unit Quantity</label>-->
            <!--<input type="number" ng-required="true" min="1" ng-model="row.unitsTo">-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--<div flex>-->
            <!--<md-input-container class="md-block" id="invProdQty3">-->
            <!--<label>Unit UOM</label>-->
            <!--&lt;!&ndash;<input type="text" ng-required="true" min="1" ng-model="row.unitUom">&ndash;&gt;-->
            <!--<md-select ng-required="true" flex ng-model="row.unitUom">-->
            <!--<md-option value="Units" selected>Units</md-option>-->
            <!--<md-option value="GB">GB</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div flex="5"></div>-->
            <!--<div layout-align-md="start center" layout-md="column" flex="30">-->
            <!--<div flex>-->
            <!--<md-input-container class="md-block" id="invProdQty4">-->
            <!--<label>Unit Price</label>-->
            <!--<input type="number" ng-required="true" min="1" ng-change="calcUnitPrice(features,content.unitPrice,content.default_price,content.add_pricingScheme,'add')" ng-model="row.price">-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--<div flex>-->
            <!--<md-input-container class="md-block" id="invProdQty5">-->
            <!--<label>UOM</label>-->
            <!--&lt;!&ndash;<input type="text" ng-required="true" min="1" ng-model="row.unitUom">&ndash;&gt;-->
            <!--<md-select ng-required="true" flex ng-model="row.uom">-->
            <!--<md-option value="OneTime" selected>One time</md-option>-->
            <!--<md-option value="Months" ng-disabled="content.billEvery=='Days'">Months</md-option>-->
            <!--<md-option value="Years" ng-disabled="content.billEvery!='Years'">Years</md-option>-->
            <!--<md-option value="Days">Days</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div flex="5"></div>-->
            <!--<div flex layout="column" layout-align="center start" flex="30">-->
            <!--<md-input-container fill-width class="mt-40" id="invProdQty7" ng-if="!row.autoTermination">-->
            <!--<label>Additional charge per unit</label>-->
            <!--<input type="number" ng-disabled="row.autoTermination" ng-required="true" min="1" ng-model="row.costPerUnitAdd">-->
            <!--</md-input-container>-->
            <!--<md-checkbox ng-model="row.autoTermination" aria-label="Auto Terminate" class="md-primary dep-checkbox" ng-class="{'offset-top':!row.autoTermination}">Auto terminate</md-checkbox>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div ng-if="row.type=='SLAB'" layout="column">-->
            <!--<div layout="row" ng-repeat="slab in row.scheme" class="highlight-white solid p-5 mb-10">-->
            <!--<div layout-align-md="start center" layout-md="column" flex="30">-->
            <!--<md-input-container class="mb-0" id="invProdQty2" fill-width>-->
            <!--<label>Starting quantity</label>-->
            <!--<input type="number" ng-required="true" min="0" ng-model="slab.unitsFrom">-->
            <!--</md-input-container>-->
            <!--<md-input-container class="mb-0" id="invProdQty2" fill-width>-->
            <!--<label>Ending Quantity</label>-->
            <!--<input type="number" ng-required="true" min="1" ng-model="slab.unitsTo">-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--<div flex="5"></div>-->
            <!--<div layout-align-md="start center" layout-md="column" flex="30">-->
            <!--<md-input-container class="md-block" id="invProdQty4" flex>-->
            <!--<label>Unit price</label>-->
            <!--<input type="number" ng-required="true" min="1" ng-change="calcUnitPrice(features,content.unitPrice,content.default_price,content.add_pricingScheme,'add')" ng-model="slab.price">-->
            <!--</md-input-container>-->
            <!--<div layout="row" layout-align="start center" flex>-->
            <!--<md-input-container class="m-0" id="invProdQty5" flex>-->
            <!--<label>UOM</label>-->
            <!--&lt;!&ndash;<input type="text" ng-required="true" min="1" ng-model="row.unitUom">&ndash;&gt;-->
            <!--<md-select ng-required="true" flex ng-model="slab.uom">-->
            <!--<md-option value="OneTime" selected>One time</md-option>-->
            <!--<md-option value="Months" ng-disabled="content.billEvery=='Days'">Months</md-option>-->
            <!--<md-option value="Years" ng-disabled="content.billEvery!='Years'">Years</md-option>-->
            <!--<md-option value="Days">Days</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
            <!--<div class="w-10"></div>-->
            <!--<md-input-container class="m-0" id="invProdQty3">-->
            <!--<label>Unit UOM</label>-->
            <!--&lt;!&ndash;<input type="text" ng-required="true" min="1" ng-model="row.unitUom">&ndash;&gt;-->
            <!--<md-select ng-required="true" flex ng-model="slab.unitUom">-->
            <!--<md-option value="Units" selected>Units</md-option>-->
            <!--<md-option value="GB">GB</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div flex="5"></div>-->
            <!--<div flex="30" layout="column" layout-align="center start">-->
            <!--<md-input-container fill-width class="mt-40" id="invProdQty7" ng-if="slab.autoTermination==false">-->
            <!--<label>Additional charge per unit</label>-->
            <!--<input type="number" ng-required="true" min="1" ng-model="slab.costPerUnitAdd">-->
            <!--</md-input-container>-->
            <!--<md-checkbox ng-model="slab.autoTermination" aria-label="Auto Terminate" class="md-primary dep-checkbox" ng-class="{'offset-top':!slab.autoTermination}">Auto terminate</md-checkbox>-->
            <!--</div>-->
            <!--<div class="w-5"></div>-->
            <!--<div layout="column" layout-align="center center" class="v-rule-gray">-->
            <!--<md-button ng-click="removerow($index,row.scheme,$parent.$index);" class="md-icon-button md-warn"><md-icon md-font-icon="icon-close-circle"></md-icon><md-tooltip>Remove slab</md-tooltip> </md-button>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div layout="row" layout-align="end center">-->
            <!--<md-button ng-click="addNewSlab(row);" class="md-accent md-icon-button mr-10"><md-icon md-font-icon="icon-plus-circle"></md-icon><md-tooltip>Add slab</md-tooltip></md-button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div layout="row" layout-align="center center" class="w-60">-->
            <!--<md-button ng-if="features.length > 1" ng-click="removerow($index,features,$index);" class="md-icon-button md-warn h-45 w-45 mr-10"><md-icon md-font-icon="icon-close-circle" class="fs-34 w-35 h-35"></md-icon><md-tooltip>Remove feature</md-tooltip> </md-button>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->

            <!--<div layout="row" layout-align="end center" class="h-60">-->
            <!--<md-button ng-click="addNewRow(features);" class="md-accent md-icon-button mr-20 h-45 w-45"><md-icon md-font-icon="icon-plus-circle" class="fs-34 w-35 h-35"></md-icon><md-tooltip>Add feature</md-tooltip> </md-button>-->
            <!--</div>-->
            <!--</md-card-content>-->
            <!--</md-card>-->
            <!--Pricing scheme block-->

            <!--CREATE NEW INVOICE _ CARDED=================================================-->
        </form>
    </md-content>
    <!-- / CONTENT WRAPPER -->
    <md-content class="plan-portion p-20" flex="30" layout="column" layout-align="center center" style="background: #fafafa;max-width: 350px;border-left: solid 1px #eee" ms-scroll>
        <div class="mb-20 text-center" fill-width style="color: #5f8597;">Plan preview</div>
        <div fill-width class="subscription-plan autoheight" id="subscriptionPlan" md-whiteframe="1dp">
            <!--<div class="selected-plan-ico" ng-if="plan.code == selectedPlan.code"></div>-->

            <md-card-title flex layout="row" layout-align="center center" ng-class="{'solid-washer-blue':content.name != null}">
                <h3 class="white-text">{{content.name}}</h3>
                <h3 ng-if="content.name == null" style="color: #ccc">-PLAN NAME-</h3>
            </md-card-title>

            <md-card-content flex class="p-0" layout="column">
                <div class="rate-container tinted" layout="column" layout-align="center center">
                    <div layout="row" layout-align="center end" ng-if="content.unitPrice != '0'">
                        <span>{{content.unitPrice / content.billingInterval | isoCurrency:BaseCurrency :decimalPoint}}
                            <label ng-if="content.unitPrice == null" style="color: #ccc">-{{0| isoCurrency:BaseCurrency :0}}- </label>
                        </span>
                        <span class="forplan">
                            <span class="duration"> /
                                <!--<label ng-if="content.billingInterval > 1">{{content.billingInterval}}</label>-->
                                <!--<label ng-if="content.billingInterval == null" style="color: #ccc">-0-</label>-->
                                {{content.billEvery.slice(0, -1)}}
                            </span>
                        </span>
                    </div>
                    <div layout="row" layout-align="center end" ng-if="content.unitPrice == '0'">
                          <span>{{content.unitPrice / content.billingInterval | isoCurrency:BaseCurrency :decimalPoint}}
                              <label ng-if="content.unitPrice == null" style="color: #ccc">-{{0| isoCurrency:BaseCurrency :0}}- </label>
                          </span>
                          <span class="forplan">
                              <span class="duration"> /
                                  <!--<label ng-if="content.billingInterval > 1">{{content.billingInterval}}</label>-->
                                  <!--<label ng-if="content.billingInterval == null" style="color: #ccc">-0-</label>-->
                                  {{content.billEvery.slice(0, -1)}}
                              </span>
                          </span>
                    </div>
                </div>
                <div class="text-center" flex layout="column" layout-align="center center" style="min-height: 130px;">
                    <span class="plan-feature-row"><b>{{content.trailDays}} trial day<span ng-if="content.trailDays > 1 || content.trailDays == 0">s</span></b></span>
                    <span class="plan-feature-row" style="color: #ccc" ng-if="content.trailDays == null"><b>-Trial days-</b></span>

                    <div class="msg-empty-list" ng-if="nothingSelected">
                        <span><i>-Features-</i></span>
                    </div>
                    <div ng-repeat="item in priceSchemeFeatureList" class="plan-feature-row" ng-if="item.isSelected == true">
                        <span class="additional-feature">{{item[0].feature}}</span>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-content>
</div>
<div md-whiteframe="8dp" layout="row" layout-align="end center" class="pos-rel" style="z-index: 1">
    <div layout="row" class="layout-row">
        <md-progress-circular ng-if="vm.submitted" class="gen-save-indicator"></md-progress-circular>
        <md-button ng-click="clearform(content.type)">Clear</md-button>
        <md-button ng-disabled="vm.submitted" type="submit" form="changePlanForm" class="md-raised md-accent">Save</md-button>
    </div>
</div>
<!-- / CONTENT CARD -->
